<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>LL1分析器</title>
</head>
<style>
    body{
        background-color: rgb(245, 245, 245);
    }
</style>
<body>
<div class="container">
    <p class="h1 text-center" style="margin-top: 5%;margin-bottom: 2%">LL1分析器</p>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <p class="h5">词法：</p>
            <div>E->TG<br>G->+TG|ε<br>T->FH<br>H->*FH|ε<br>F->(E)|i<br></div>
            <div style="margin-top: 20px"></div>
            <p class="h5">待分析串:</p>
            <form  method="POST">
                <input type="text" name="str"/>
                <input type="submit", value="提交"/>
            </form>
        </div>
    </div>

</div>
</body>
</html>